<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>书城管理系统-注册账号</title>
    <link rel="stylesheet" href="../static/assets/stylesheets/index.css">
</head>
<body>
    <div class="container">
        <div class="login-wrapper">
            <div class="header">注册</div>
            <div class="form-wrapper">
                <form action="/register" method="post">
                    <input type="text" name="username" placeholder="username" class="input-item" required>
                    <input type="password" name="password" placeholder="password" class="input-item" required>
{#                    <p>注册类型：#}
{#                    <input type="radio" name="type" id="admin" value="admin" required>#}
{#                    <label for="admin">管理员</label>#}
{#                    <input type="radio" name="type" id="user" value="user" required>#}
{#                    <label for="user">普通用户</label>#}
                    <input type="submit" class="btn" value="注 册">
{#                    </p>#}
                </form>
                <div class="msg">
                已有帐户？
                <a href="/">返回登录</a>
                </div>


            </div>
{#            <div class="msg">#}
{#                Don't have account?#}
{#                <a href="#">Sign up</a>#}
{#            </div>#}
        </div>
    </div>
</body>
</html>
